.header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 1px;
    & > h3 {
        font-size: 18px;
        margin: 0;
    }

    & > .userName {
        color: #525252;
    }
}

.cardBody {
    line-height: 24px;
    color: #525252;
}